<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoosal.zqmh.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.yoosal.zqmh.pojo.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="rel" property="rel" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="group" property="group" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, is_show, url, rel, sort,`group`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yoosal.zqmh.pojo.Menu" >
    insert into t_menu (id, name, is_show, 
      url, rel, sort,`group`)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isShow,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{rel,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},#{group,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yoosal.zqmh.pojo.Menu" >
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="rel != null" >
        rel,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="rel != null" >
        #{rel,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoosal.zqmh.pojo.Menu" >
    update t_menu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="rel != null" >
        rel = #{rel,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoosal.zqmh.pojo.Menu" >
    update t_menu
    set name = #{name,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      rel = #{rel,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="queryAll" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from t_menu order by #{orderBy} limit #{start},#{limit}
    </select>
    <select id="queryAllCount" resultType="java.lang.Integer">
        select count(id) as id from t_menu
    </select>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yoosal.zqmh.pojo.WhereCase" >
        select
        <include refid="Base_Column_List" />
        from t_menu
        <where >
            <if test="condition!=null" >
                <trim prefix="(" suffix=")" prefixOverrides="and" >
                    and ${condition}
                </trim>
            </if>
        </where>
        <if test="order != null" >
            order by ${order}
        </if>
        <if test="start != null" >
            limit ${start},${limit}
        </if>
    </select>
</mapper>