<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoosal.zqmh.dao.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.yoosal.zqmh.pojo.Video" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="view" property="view" jdbcType="INTEGER" />
    <result column="product_url" property="productUrl" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yoosal.zqmh.pojo.Video" extends="BaseResultMap" >
    <result column="intro" property="intro" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, url, cover, enable, view, edit_time,product_url
  </sql>
  <sql id="Blob_Column_List" >
    intro
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yoosal.zqmh.pojo.Video" >
    insert into t_video (id, name, url, 
      cover, enable, view, product_url
      edit_time, intro)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{cover,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, #{view,jdbcType=INTEGER}, #{productUrl,jdbcType=VARCHAR},
      #{editTime,jdbcType=TIMESTAMP}, #{intro,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yoosal.zqmh.pojo.Video" >
    insert into t_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
        <if test="productUrl != null" >
            product_url,
        </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="view != null" >
        view,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="intro != null" >
        intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
        <if test="url != null" >
            #{url,jdbcType=VARCHAR},
        </if>
      <if test="product_url != null" >
        #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="view != null" >
        #{view,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoosal.zqmh.pojo.Video" >
    update t_video
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null" >
        product_url = #{productUrl,jdbcType=VARCHAR},
      </if>
        <if test="url != null" >
            url = #{url,jdbcType=VARCHAR},
        </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="view != null" >
        view = #{view,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yoosal.zqmh.pojo.Video" >
    update t_video
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      product_url = #{productUrl,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      view = #{view,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      intro = #{intro,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoosal.zqmh.pojo.Video" >
    update t_video
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      product_url = #{productUrl,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      view = #{view,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryAll" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List"/>
    from t_video order by #{orderBy} limit #{start},#{limit}
  </select>

  <select id="queryAllCount" resultType="java.lang.Integer">
    select count(id) as id from t_video
  </select>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yoosal.zqmh.pojo.WhereCase">
    select
    <include refid="Base_Column_List"/>
    from t_video
    <where>
      <if test="condition!=null">
        <trim prefix="(" suffix=")" prefixOverrides="and">
          and ${condition}
        </trim>
      </if>
    </where>
    <if test="order != null">
      order by ${order}
    </if>
    <if test="start != null">
      limit ${start},${limit}
    </if>
  </select>

  <select id="countByExample" parameterType="com.yoosal.zqmh.pojo.WhereCase" resultType="java.lang.Integer">
    select count(*) from t_video
    <where>
      <if test="condition!=null">
        <trim prefix="(" suffix=")" prefixOverrides="and">
          and ${condition}
        </trim>
      </if>
    </where>
  </select>
  
</mapper>